.expl {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  height: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  text-align: center;
  column-gap: 1.5rem;

  background-color: rgba(245, 245, 245, 0.445);
  padding: 0.75rem;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(34, 34, 34, 0.904);
}
p {
  letter-spacing: 0.1em;

  font-size: 16px;
  white-space: pre-line;
  text-align: left;
  line-height: 1.2rem;
  color: rgb(8, 8, 8);
  font-weight: 500;
  margin-bottom: 5px;
}
.szoveg {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
}
label {
  display: block;
  color: rgb(51, 51, 51);
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.erdeklodes {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8rem;
}
input {
  width: 233px;
  height: 20px;
  border: none;
  padding: 0.3rem;
  padding-left: 0.6rem;
  border-radius: 0.25rem;
  background-color: rgba(221, 221, 221, 0.699);
  outline: none;
  color: rgb(53, 53, 53);
}
textarea {
  border-radius: 0.25rem;
  border: none;
  padding: 0.3rem;
  padding-left: 0.6rem;
  background-color: rgba(221, 221, 221, 0.699);
  outline: none;
  color: rgb(53, 53, 53);
  letter-spacing: 0.1rem;
  box-shadow: 2px 2px 4px #222;
}
.exit {
  position: absolute;
  left: 92%;
  top: 4%;

  background-color: transparent;

  cursor: pointer;
  margin-right: 0;
}
h3 {
  margin-bottom: 10px;
  letter-spacing: 0.1rem;
  color: rgb(17, 17, 17);
  margin-top: 10px;
}
.h-6 {
  background-color: transparent;
  width: 40px;
  height: 40px;
  color: rgb(15, 15, 15);
}
li {
  color: rgb(8, 8, 8);
  text-align: left;
  line-height: 24px;
  letter-spacing: 0.1em;
}
ul {
  margin-bottom: 15px;
}

.icon {
  height: 30px;
  width: 330px;
  display: flex;
  column-gap: 1rem;
}
.icons {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  word-wrap: break-word;
}
.map {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h5 {
  letter-spacing: 0.1rem;
  line-height: 1.1rem;
  font-size: 0.8rem;
  text-align: center;
  display: block;
  align-self: center;
  justify-self: center;
  color: rgb(20, 20, 20);
}
.h-5 {
  width: 30px;
  color: rgb(22, 22, 22);
}
.house {
  max-width: 100%;
  height: auto;
  filter: blur(0px);
}
.madalpics {
  width: 350px;
}

.szoveg .ing {
  max-width: 300px;
}
iframe {
  height: 80%;
  width: 100%;
}
.close {
  color: #222;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.contact {
  left: 10px;
  z-index: 2;
}
.aboutszoveg {
  height: 550px;
}
@media screen and (max-width: 450px) {
  .expl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    left: 50%;
    top: 18%;
  }
  .exit {
    position: relative;
    margin: 10px;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
  }
  .expl {
    height: auto;
  }
  .house {
    max-width: 130px;
  }
  li {
    font-size: 0.9em;
    letter-spacing: 0;
    line-height: 20px;
  }
  .aboutKep {
  }
  .dani {
    margin-bottom: 10px;
  }
  p {
    letter-spacing: normal;
  }
  iframe {
    width: 100%;
    height: 80%;
  }
  .map {
    width: 300px;
    height: 300px;
  }
  .icons {
    row-gap: 1rem;
  }
}
