* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.body-wrapper {
  width: 100vw;
}
.wrapper {
  background: linear-gradient(210deg, #2b2b2b, rgb(24, 24, 24));
  height: 100vh;
}
.top-img {
  max-width: 40%;

  z-index: 1;
  position: absolute;
  top: 0%;

  left: 76%;
}

.goldenhammer {
  max-width: 100%;
  height: auto;
}
.header {
  background-color: transparent;
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  gap: 2rem;
  font-size: 22px;
  padding-bottom: 0.1rem;
}
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: rgb(212, 209, 209);

  cursor: pointer;
  padding: 0;
  transition-duration: 0.4s;
}
.dropdown.active > .link,
.link:hover {
  color: rgb(253, 253, 253);
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  width: 260px;
  position: absolute;
  left: 13px;
  top: calc(100% + 0.7rem);
  /* background-color: rgba(245, 245, 245, 0.336); */
  background-color: rgba(245, 245, 245, 0.445);
  padding: 0.75rem;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(34, 34, 34, 0.863);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
p {
  color: rgb(39, 39, 39);
}
button {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  text-shadow: 1px 1px 3px rgba(43, 43, 43, 0.527);
}
.elso {
  margin-left: 20px;
}
.information-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* grid-template-columns: repeat(2, max-content); */
  gap: 2rem;
}
.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
a {
  text-decoration: none;
  color: rgb(241, 238, 238);
  margin-top: 1.2rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 500;
}
a:hover {
  color: rgb(250, 250, 250);
}
.dropdown-heading {
  color: #272626;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
img {
  height: 100vh;
}
.dropdown-links > a:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 450px) {
  .link {
    font-size: 15px;
  }
  .top-img {
    max-width: 40%;

    z-index: 1;
    position: absolute;
    top: 5%;

    left: 76%;
  }
}
