.wlc-wrapper {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(241, 238, 235); */
  background-image: linear-gradient(
    180deg,
    rgb(247, 244, 244),
    rgba(34, 31, 31, 0.527)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.danipics {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  top: 50%;
  margin-left: 2rem;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}
.wlc-szoveg {
  width: 550px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.enter {
  font-family: "Cormorant Garamond", serif;
}
.enter:hover {
  color: slategray;
}

.justice {
  width: 100%;
  max-width: 400px;
  height: 400px;
  position: relative;
  top: 50%;
  margin-right: 2rem;
  transform: translateY(-50%);
  opacity: 0.8;
}
.logo {
  width: 300px;
  height: auto;
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
.wlc-szoveg > h2 {
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 1px rgb(133, 133, 133);
  color: rgb(78, 78, 78);
  font-size: 28px;
  font-family: "Cormorant Garamond", serif;
}

.p {
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    rgba(247, 244, 244, 0.705),
    rgba(34, 31, 31, 0.158)
  );
  font-family: "Cormorant Garamond", serif;
}
